{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static 'MyApp/styles.css'%}">

    <title>Hello, world!</title>
  </head>
  
  <body>
    <div class="col-md-auto col-sm text-center">
        <form method="POST" action="">
            {% csrf_token %}
            
            <ul class = "navfont" style = "list-style-type:none; color: black">
                <h1 class="text">Hello, How you doin'?</h1>
                <li class="Status">{{form.name}}</li>
                <li class="submit">
                    <button type="submit" class="btn btn-primary navfont bg-dark shadow-none submit" data-toggle="button" aria-pressed="false" value="submit">
                        Submit
                    </button>
                </li>
            </ul>
        </form>
    </div>
    </section>

    <section>
      <div class="container">
      <table class="table table-bordered table-dark">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          {% for i in allStatus %}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.dates}}</td>
        </tr>
        {%endfor%}
        </tbody>
      </table>
    </div>
    </section>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
  </body>
</html>